*.mp4
*.heic
*-backups
assembly/
*_autosave
.DS_Store
*.icloud
jlcpcb
*-cache
*- print.pdf
venv
.ato
build
*auto_saved_files*
*autosave*
*kicad_sch.lck
*kicad_pcb.lck
*JLC2KiCad_lib*
pcbs_code.md
*.tap